ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_PHONE=
CHARGILY_MODE=
CHARGILY_SECRET_KEY=
DATABASE_URL=
FRONTEND_URL=
JWT_REFRESH_SECRET=
JWT_SECRET=
PUBLIC_BACKEND_URL=
VITE_API_URL=
VITE_GEMINI_API_KEY=
GEMINI_API_KEY=